# Ignore any object files or executables
*.o
main
test_*
gtest_main.a
gtest.a

*.dat

Doxumentation/html/*

__pycache__

.ipynb_checkpoints

runMultipleSims.sh

cleanData.sh

.cache

ProfileParallel.nvvp

slurm*

Data

build
