# Ignore any object files or executables
*.o
main
test_boundaryConds
test_cminpack
test_fvs
test_id
test_imex
test_initFunc
test_rk2
test_simulation
test_srmhd
test_srrmhd
test_twoFluidEMHD
test_REGIME
test_RKPlus
test_parallel_rk2
test_parallel_rkSplit
test_rkSplit
test_weno
test_hdf5_parallel_rk2
test_hdf5_rk2

test_*.o
!test_*.cc
gtest_main.a
gtest.a

*.dat
*.hdf5

Doxumentation/html/*

__pycache__

.ipynb_checkpoints

runMultipleSims.sh

cleanData.sh

.cache
ProfileParallel.nvvp

slurm*

# Don't track the data files!
Data
Tests/TestData
Examples/Data*
Scripts/Data*

# Ignore the build directories
build

# Don't track files from the docker mount
dockermount
# Don't track files from the virtual environment or IDE
venv
.idea
.vscode
