# Ignore any object files or executables
*.o
main
test_srmhd
test_srrmhd
test_simulation
test_initFunc
test_cminpack
test_boundaryConds
test_twoFluidEMHD
test_fvs
test_id
test_rk2
test_imex
test_REGIME
gtest_main.a

*.dat

Doxumentation/html/*

__pycache__

.ipynb_checkpoints

runMultipleSims.sh

cleanData.sh

.cache

ProfileParallel.nvvp

slurm*

Data

build
